<div class="contenedor">
  <h2>Consultar Socios</h2>

  <div class="filtros">
    <div class="filtro-item">
      <input type="text" placeholder="Buscar por email" [(ngModel)]="searchEmail" (input)="onSearch()" />
    </div>

    <div class="filtro-select">
      <select [(ngModel)]="filtroRol" (change)="onRolCambio(filtroRol)">
        <option value="">Filtrar por Rol</option>
        <option value="Jugador">Jugador</option>
        <option value="Profesor">Profesor</option>
      </select>
    </div>

    <div class="filtro-botones">
      <button (click)="eliminarFiltros()">Resetear filtros</button>
      <button (click)="asociarNuevo()">+ Asociar Nuevo Socio</button>
    </div>
  </div>

  <div class="socio-lista">
    <div *ngFor="let socio of sociosFiltrados" class="socio-card">
      <img [src]="socio.fotoUrl" alt="Foto de {{ socio.nombre }}" class="socio-foto">
      <div class="socio-info">
        <h3>{{ socio.nombre }}</h3>
        <p>Email: {{ socio.email }}</p>
        <p>Rol: {{ socio.rol }}</p>
        <p>Fecha de Asociación: {{ socio.fechaAsociacion | date:'dd/MM/yyyy' }}</p>
        <p>Categoría: {{ socio.categoria || 'No asignada' }}</p>
      </div>
      <div class="acciones">
        <button class="eliminar" (click)="confirmarEliminacion(socio.id)">Eliminar</button>
      </div>
    </div>
  </div>


  <div *ngIf="mostrarModalAsociar" class="modal">
    <div class="modal-contenido">
      <h3>Asociar Nuevo Socio</h3>
      <div *ngFor="let socio of sociosNoAsociados">
        <div class="socio-item">
          <span>{{ socio.nombre }}</span>
          <button (click)="asociarSocio(socio)">Asociar</button>
        </div>
      </div>
      <button (click)="cerrarModalAsociar()">Cerrar</button>
    </div>
  </div>
</div>
