<!-- Contenedor principal -->
<div class="container mt-4">

    <div class="table-container">
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <thead class="table-light">
            <tr>
              <th>
                <!-- Fecha -->
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <input
                    type="date"
                    id="date-picker"
                    class="form-control w-auto"
                    [(ngModel)]="selectedDate"
                    (change)="onDateChange($event)"
                    [attr.min]="minDate"
                  />
                </div>
              </th>
              <!-- Hora -->
              <th *ngFor="let slot of timeSlots">{{ slot }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let court of courts">
              <td>{{ court.name }}</td>
              <td *ngFor="let slot of timeSlots"
                  [ngClass]="{
                    'highlight': isHighlighted(court.id, slot),
                    'half-highlight': isHalfHighlighted(court.id, slot),
                    'past-time': isPastTime(slot),
                    'table-danger': isReserved(court.id, slot)
                  }"
                  (mouseenter)="!isPastTime(slot) && !isReserved(court.id, slot) && showTooltip($event, court, slot)"
                  (mouseleave)="hideTooltip()"
                  (click)="!isPastTime(slot) && !isReserved(court.id, slot) && showTimeOptions(court, slot, $event)"
                  >
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
    </div>
  </div>
  
<!-- Menú de opciones -->
<div *ngIf="showOptionsMenu" [ngStyle]="{'top.px': optionsMenuPosition.top, 'left.px': optionsMenuPosition.left}" class="options-menu">
  <div *ngFor="let duration of [1, 1.5, 2, 2.5]">
    <button (click)="selectOption(duration)">
      {{ duration }} hrs - ${{ calculatePrice(duration) }}
    </button>
  </div>
        <!-- Botón de continuar dentro del menú de opciones -->
    <div *ngIf="showContinueButton" class="text-center mt-2">
      <button class="btn btn-primary" (click)="redirectToTicket()">Continuar</button>
    </div>
</div>

  <!-- Tooltip con información -->
  <div
    *ngIf="tooltipVisible"
    [ngStyle]="{ top: tooltipPosition.top + 'px', left: tooltipPosition.left + 'px' }"
    class="tooltip-content"
  >
    <strong>{{ tooltipCourt?.name }}</strong><br />
    {{ tooltipSlot }}<br />
    <span>Blindex y sintético | Con iluminación | Techada</span><br />
    $ {{ tooltipPrice }}
  </div>
  