  <!-- Barra de navegación -->
  <nav class="navbar">
    <div class="navbar__container">
      <button mat-flat-button color="accent" routerLink="/components/about" type="button">Sobre Nosotros</button>
      <button mat-flat-button color="accent" routerLink="/components/services" type="button">Servicios</button>
      <button mat-flat-button color="accent" routerLink="/components/contact" type="button">Contacto</button>
      <button mat-flat-button color="accent" routerLink="/login" type="button">Iniciar Sesion</button>
      <button mat-flat-button color="accent" routerLink="/register" type="button">Registrarse</button>
    </div>
  </nav>